<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hrynchyk_WidgetDesigner::helloworld" title="Hrynchyk"
             module="Hrynchyk_WidgetDesigner" sortOrder="51" resource="Hrynchyk_WidgetDesigner::helloworld"
        />
        <add id="Hrynchyk_WidgetDesigner::index" title="Widget Designer Info"
             module="Hrynchyk_WidgetDesigner" sortOrder="10"
             action="hrynchyk_widgetdesigner/index"
             resource="Hrynchyk_WidgetDesigner::index"
             parent="Hrynchyk_WidgetDesigner::helloworld"
        />
    </menu>
</config>